<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <main>
            {{>header}}
            <p>This site was created by Steve Minor. It uses data from mapbox.com and darksky.net.</p>
            <img src="/img/robot.png" alt="robot" class="portrait">
        </main>
        {{>footer}}
    </body>
</html>